@import "tailwindcss";

 @font-face {
        font-family: 'Modern'; 
        src: url('./public/fonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2') format('woff2'); 
        font-weight: normal; 
        font-style: normal;  
 }

        body {
        font-family: 'Modern';
    }