@import "tailwindcss";

@font-face {
  font-family: Comfort;
  src: url(../public/fonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2);
}
.comfort {
  font-family: Comfort, sans-serif;
}

body {
  font-family: "Comfort", sans-serif;
}
